@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #124559;
  --secondary: #01161E;
  --highlight: #1199EE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.rot{
  transform: rotate(20deg);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid salmon; */
}